@font-face {
  font-family: "Favorit";
  src: local("Favorit"),
    url(./assets/fonts/favorit-trial-var.ttf) format("truetype");
}

@font-face {
  font-family: "Cyberthrone";
  src: local("Cyberthrone"),
    url(./assets/fonts/cyberthrone.ttf) format("truetype");
}
